<div class="wrapper">
	<div id="contact-wrapper">
		<h2>Contact Us</h2>
			<p>the.real.street.report@gmail.com</p>
		<h2>For more information & resources:</h2>
			<a href="http://www.ihollaback.org/">Hollaback!</a>
			<p>Advocacy organization that seeks to end street harassment</p>
	</div>
</div>