.admin_toolbar {
	background-color: $default-orange;
	color: $default-light-gray;
	margin-top: 60px;
	position:fixed;
	height: 25px;
	width: 100%;
	z-index: 10;
	top: 0;

	overflow: auto;
	a {
		text-decoration: none;
		padding: 10px 5px;
	}
	ul.left {
		float: left;
		li {
			margin: 3px 0 0 10px;
			font-size: 16px;
		}
	}
	ul.right {
		float: right;
		li {
		display: inline-block;
		margin: 5px 10px 0px 0px;
		}
		a {
		font-size: 16px;
		color: $default-light-gray;
		}
	}	
}