.admin_toolbar {
	background-color: red;
	overflow: auto;
	a {
		text-decoration: none;
		padding: 10px 5px;
	}
	ul.left {
		float: left;
		li {
			margin: 3px 0 0 10px;
			font-size: 23px;
		}
	}
	ul.right {
		float: right;
		li {
		display: inline-block;
		margin: 10px 0px;
		}
	}	
}