
#recent-reports-wrapper {
    float: right;
    padding: 30px 0px 0px;
    width: 25%;
    height: 63vh;
    #see_all_reports {
        margin-left: 42%;
    }
}

.reports {
    height: 90%;
    margin: 10px 0px 0px;
    overflow: scroll;
}

.reports-individual {
    padding: 10px;
    margin: 0px auto 15px;
    background-color: $default-light-blue;
    width: 80%;
}

.report-title {
    color: $default-orange;
}

.time-posted {
    font-size: 13px;
    display: inline-block;
    width: 66%;
    color: $default-dark-blue;
}

.report_details {
    font-size: 14px;
}

.report-body {
    padding: 10px;
}