/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
	margin: 0;
	padding: 0;
}

nav {
	background-color: lightblue;
	overflow: auto;
}
ul.left {
	float: left;
}

ul.right {
	float: right;
}

nav img {
	height: 35px;
}

nav ul.right li {
	display: inline-block;
	margin: 10px;
}
nav a{
	text-decoration: none;
	padding: 10px 5px;
}

#wrapper {
	clear: both;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

#main-description {
	float: left;
	width: 20%;
	padding: 35px 10px;
	background-color: #f8f8f8;
}

#main-map {
	float: left;
	width: 55%;
	padding: 10px;
}

#map-key {
	float: left;
	width: 20%;
	padding: 35px 10px;
	background-color: #f8f8f8;
}

#map {
	width: 95%;
	height: 480px;
	border: solid 2px black;
	margin: 30px auto;
}

footer {
	clear: both;
	height: 50px;
	background-color: lightblue;
}
