$box_shadow_color: #cecece;
$default-orange: #D75C37;
$default-light-gray: #f5f5f5;
$default-dark-gray: #67727A;
$default-light-blue: #dae2e5;
$default-dark-blue: #6991AC;


* {
	margin: 0;
	padding: 0;
    font-family: sans-serif;
}

@import "nav";
@import "adminToolbar";

.wrapper {
	clear: both;
	width: 100%;
    min-height: 90vh;
    background-color: $default-light-gray;
	margin: 60px auto 0;
    position: absolute;
    overflow: none;
}

 h2 {
        text-align: center;
        color: $default-orange;
    }

hr {
    margin: 20px 0px;
}
#flashy {
    position: fixed;
    width: 50%;
    height: 30px;
    margin-top: 60px;
    margin-left: 25%;
    z-index: 8;
    p {
        text-align: center;
        background-color: yellow;
        width: 80%;
        margin: auto;
    }
}

#show_description {
    position: fixed;
    width: 7%;
    height: 19px;
    padding-left: 7px;
    margin-top: 4px;
    border: 1px solid #ccc;
    background-color: #ffcdbf;
    border-radius: 0 5px 5px 0;
    z-index: 99;
    display: none;
    a {
        text-decoration: none;
        color: $default-dark-blue;
    }
}
#main-description {
	float: left;
	width: 23%;
    min-height: 90vh;
	padding: 15px 0px 0px;
    border: #ccc 1px solid;
    background-color: #ffcdbf;
    #hide_mobile {
        display: none;
    }
	p{
		padding: 10px;
	}
    #description_hide {
        padding: 0 10px;
        margin: 0;
        text-align: right;
    }
    a {
        text-decoration: none;
        color: $default-dark-blue;
    }
}

#show_mobile {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 5px 0px 0px;
    border: #ccc 1px solid;
    border-radius: 0 0 3px 3px;
    background-color: #ffcdbf;
    padding-bottom: 2px;
    display: none;
    a {
        text-decoration: none;
        color: $default-dark-blue;
    }
}

#main-map {
	float: left;
	width: 50%;
    height: 85vh;
    margin-left: 1.7%;
	padding: 30px 0px 0px;
    text-align: center;
    form {
        margin-top: 10px;
    }
}

#map {
	width: 100%;
	height: 500px;
	margin: 0px auto;
    z-index: 1;
}

#address {
    width: 70%;
    height: 28px;
    border: solid 2px $default-light-blue;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
}

#submit {
    width: 16%;
    height: 29px;
    background-color: white;
    border: 1px solid $default-light-blue;
    border-radius: 5px;
    font-size: 18px;
    color: #888;
}

#add_report {
    width: 87%;
    height: 30px;
    background-color: #ea7f64;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    color: white;
}

// @import "recentReports";
@import "newReportModal";
@import "_reports";

// .all-reports-wrapper {
//     padding: 50px 0px 0px;
//     width: 50%;
//     height: 93%;
//     margin: 0 auto;
// }
// report show page
.show-report {
    padding: 10px;
    margin: 30px auto 15px;
    background-color: $default-light-blue;
    width: 50%;
    li {
        font-size: 14px;
        color: #888;
    }
    .report-body {
        color: #446c87;
    }
}

.edit_report {
    display: inline-block;
    width: 20%;
}

#make_comment_h4 {
    text-align: center;
    color: $default-orange;
}
#comment_name {
    margin: 0 0 0 9px;
    width: 20%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 15px;
}

#comment_body {
    height: 35px;
    width: 75.75%;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 15px;
    text-align: center;
}
#humanizer_div {
    width: 96%;
    height: 35px;
    margin-left: 1.2%;
    margin-top: 10px;
    padding: 5px 3px;
    border: 3px solid #ccc;
    border-radius: 5px;
    color: #888;
}
#comment_humanizer_answer {
    width: 40%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#comment_submit {
    width: 98%;
    margin-left: 5px;
    height: 33px;
    background-color: $default-orange;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 15px;
    color: white;
}

#comment-wrapper {
    margin: 10px 10px;
}

#comment-wrapper h4 {
    text-align: center;
    color: $default-orange;
}

.comment-individual {
    margin-bottom: 20px;
    padding: 10px;
    background-color: $default-light-gray;
}

.commenter {
    font-size: 14px;
    color: #446c87;
}

.comment-text {
    color: $default-orange;
    padding: 10px;
}

.comment-time-posted {
    font-size: 14px;
    display: inline-block;
    width: 77%;
    color: #446c87;
}

.edit_comment {
    display: inline-block;
    width: 20%;
}

.unflagged {
    width: 100%;
    height: 20px;
    padding: 2px 2px;
    display: inline-block;
    background-color: $default-dark-blue;
    color: white;
    border: 1px white solid;
    border-radius: 5px;
}

.flagged {
    width: 32%;
    height: 20px;
    padding: 2px 2px;
    display: inline-block;
    background-color: $default-orange;
    color: white;
    border: 1px white solid;
    border-radius: 5px;
}

#login_wrapper {
    width: 70%;
    margin: 0 auto;
    padding-top: 10%;
    text-align: center;
}

#admin_flag_wrapper {
    width: 100%;
}

#admin_flag_content  {
    width: 70%;
    margin: 6% auto;
    position: relative;
}


#contact-wrapper {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    h2{
        margin: 50px 0px 20px;
    }
    a{
        text-decoration: none;
    }
    p {
        padding: 10px;
    }
    textarea {
        width: 300px;
        height: 100px;
        font-size: 14px;
    }
}
@media all and (max-width: 1000px){
    #main-description {
        width: 20%;
    }
}

@media all and (max-width: 800px){
    #main-description {
        float: none;
        width: 90%;
        min-height: 0;
        height: auto;
        margin: auto;
        overflow: auto;
        #description_hide {
            display: none;
        }
        #show_description{
            display: none;
        }
        #hide_mobile {
            display: block;
        }
    }

    #main-map {
        float: none;
        width: 100%;
        height: auto;
        margin: auto;
        overflow: auto;
    }
}

@media all and (max-width: 520px) {
    .wrapper {
        margin: 49px auto 0;
    }
}