$box_shadow_color: #cecece;
$default-red: #600000;
$default-gray: #f8f8f8;

* {
	margin: 0;
	padding: 0;
}

@import "nav";
@import "adminToolbar";

#wrapper {
	clear: both;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

#main-description {
	float: left;
	width: 25%;
	background-color: $default-gray;
	padding: 30px 0px;
	p{
		padding: 10px;
	}
}

#main-map {
	float: left;
	width: 50%;
	padding: 30px 0px;
}

#map {
	width: 90%;
	height: 500px;
	box-shadow: 0 0 10px $box_shadow_color;
	margin: 0px auto 30px;
}

#map-key {
	float: right;
	width: 25%;
	background-color: $default-gray;
	padding: 30px 0px;
}

@import "allReports";
@import "newReportModal";

footer {
	clear: both;
	height: 50px;
	background-color: $default-gray;
    line-height: 50px;
    text-align: center;
}
