<h1>All Reports</h1>


	<% @report.each do |t| %>
		<p>Title: <%= t.title %></p>
		<p>Description: <%= t.body %></p>
		<p>Posted: <%= time_ago_in_words(t.created_at) %> ago</p>
		<%= link_to "Report details", report_path(t) %>
		<hr>
	<% end %>
